<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta name="_csrf" th:content="${_csrf.token}"/>
	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>오픈뱅킹 연결</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gowun+Dodum&display=swap"
		rel="stylesheet">
    <link rel="stylesheet" href="/css/my_page.css">
    <link rel="stylesheet" href="/css/my_page_openbanking.css">
</head>

<body>
    <!-- 헤더 -->
    <div th:replace="fragments/header :: header"></div>

    <div class="accountbook-container">
		
        <!-- 마이페이지 사이드바 -->
        <div th:replace="fragments/m_sidebar :: m_sidebar"></div>

        <!-- 본문 -->
        <main class="accountbook-main-content">
			<div class="edit-header">
				<h1>오픈뱅킹 계좌 연결</h1>
				<p>오픈뱅킹 인증을 통해 내 계좌를 불러올 수 있습니다.</p>
			</div>
			<form action="https://testapi.openbanking.or.kr/oauth/2.0/authorize" method="get">
					<input type="hidden" name="response_type" value="code">
					<input type="hidden" name="client_id" value="59c73009-391c-4f55-bbb3-85689ee80d60">
					<input type="hidden" name="redirect_uri" value="http://localhost:8080/callback">
					<input type="hidden" name="scope" value="login inquiry transfer">
					<input type="hidden" name="state" value="12345678123456781234567812345678">
					<input type="hidden" name="auth_type" value="0">
					<input type="submit" value="인증하고 토큰발급">
			</form>


        </main>
    </div>
	<script>
		
		
	</script>
	
</body>


</html>