<?xml version="1.0" encoding="UTF-8"?>

<!-- https://mybatis.org/mybatis-3/getting-started.html
src/main/resources/mapper폴더/MemberMapper.xml파일 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yageum.mapper.AdminMapper">

	<select id="showCategoryMain" resultType="com.yageum.domain.CategoryMainDTO">
		select *
		from category_main

	</select>

	<select id="subCategorySelect" resultType="com.yageum.domain.CategorySubDTO">
		select *
		from category_sub
		where cm_in= #{cmIn}
	</select>

	<insert id="insertQuest" parameterType="com.yageum.domain.QuestDTO">
		insert into quest(quest_name, quest_type_in, cm_in, cs_in, goal_value,
		reward_value, start_date, end_date)
		values(#{questName}, #{questTypeIn},#{cmIn},#{csIn},#{goalValue},#{rewardValue},#{startDate},
		#{endDate})
	</insert>

	<select id="listQuest" resultType="map">
		select * 
		from quest;
	</select>

</mapper>