<?xml version="1.0" encoding="UTF-8"?>

<!-- https://mybatis.org/mybatis-3/getting-started.html
src/main/resources/mapper폴더/MemberMapper.xml파일 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yageum.mapper.CashbookMapper">

	<select id="selectExpenseDetail" resultType="com.yageum.domain.ExpenseDTO">
		select e.expense_sum, e.expense_memo, e.expense_date, e.expense_content, e.expense_type,
			   m.method_type, cs.cs_name, cm.cm_name, c.card_name, ba.account_name, b.bank_name
		from expense e
		left join ex_method m on e.method_in = m.method_in
		left join category_sub cs on e.cs_in = cs.cs_in
		left join category_main cm on cs.cm_in = cm.cm_in 
		left join card c on c.card_in = e.card_in 
		left join bank_account ba on e.account_in = ba.account_in 
		left join bank b on b.bank_in = ba.bank_in
		where e.expense_in = #{id}
	</select>
	


</mapper>