<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yageum.mapper.ExpenseMapper">

    <select id="getMemberInByMemberId" resultType="java.lang.Integer">
        SELECT member_in
        FROM member
        WHERE member_id = #{memberId}
    </select>
    
    <select id="getCategoryExpenseByMemberId" resultType="map">
	    SELECT
	        cm.cm_name AS category_name,
	        SUM(e.expense_sum) AS total_expense
	    FROM expense e
	    JOIN category_sub cs ON e.cs_in = cs.cs_in
	    JOIN category_main cm ON cs.cm_in = cm.cm_in
	    WHERE e.expense_date &gt;= CAST(DATE_FORMAT(CURRENT_DATE, '%Y-%m-01') AS DATE)
	      AND e.expense_date &lt; DATE_ADD(CAST(DATE_FORMAT(CURRENT_DATE, '%Y-%m-01') AS DATE), INTERVAL 1 MONTH)
	      AND e.expense_type = 1
	      AND e.member_in = #{memberIn}
	    GROUP BY cm.cm_name
	    ORDER BY total_expense DESC
	</select>

    <select id="getExpenseByLastMonth" resultType="map">
	    SELECT
	        c.cs_name AS category_name,
	        SUM(e.expense_sum) AS total_expense
	    FROM expense e
	    JOIN category_sub c ON e.cs_in = c.cs_in
	    WHERE e.expense_date &gt;= DATE_SUB(CAST(DATE_FORMAT(CURRENT_DATE, '%Y-%m-01') AS DATE), INTERVAL 1 MONTH)
	      AND e.expense_date &lt; CAST(DATE_FORMAT(CURRENT_DATE, '%Y-%m-01') AS DATE)
	      AND e.expense_type = 1
	      AND e.member_in = #{memberIn}
	    GROUP BY c.cs_name
	    ORDER BY total_expense DESC
	</select>

	<select id="getLastMonthExpenseAnalysis" resultType="map">
	    SELECT cs_name, SUM(expense_sum) AS total_expense
	    FROM expense e
	    JOIN category_sub c ON e.cs_in = c.cs_in
	    WHERE e.expense_date &gt;= DATE_SUB(CAST(DATE_FORMAT(CURRENT_DATE, '%Y-%m-01') AS DATE), INTERVAL 1 MONTH)
	      AND e.expense_date &lt; CAST(DATE_FORMAT(CURRENT_DATE, '%Y-%m-01') AS DATE)
	      AND e.expense_type = 1
	      AND e.member_in = #{memberIn}
	    GROUP BY c.cs_name
	    ORDER BY total_expense DESC
	</select>
    
	<select id="getCategoryExpenseByMonth" resultType="map">
	    SELECT
	        c.cs_name AS category_name,
	        DATE(e.expense_date) AS expense_date,
	        SUM(e.expense_sum) AS total_expense
	    FROM expense e
	    JOIN category_sub c ON e.cs_in = c.cs_in
	    WHERE e.member_in = #{memberIn}
	      AND e.expense_type = 1
	      AND MONTH(e.expense_date) = #{month}
	      AND YEAR(e.expense_date) = #{year}
	    GROUP BY c.cs_name, DATE(e.expense_date)
	    ORDER BY expense_date DESC, total_expense DESC
	</select>

	<select id="getTotalExpenseForMonth" resultType="int">
	    SELECT COALESCE(SUM(expense_sum), 0)
	    FROM expense
	    WHERE member_in = #{memberIn}
	      AND EXTRACT(MONTH FROM expense_date) = #{month}
	      AND EXTRACT(YEAR FROM expense_date) = #{year}
	      AND expense_type = 1
	</select>
	
    <select id="getCategoryExpensesData" resultType="map">
        SELECT c.cs_name AS categoryName, SUM(e.expense_sum) AS amount
        FROM expense e JOIN category_sub c ON e.cs_in = c.cs_in
        WHERE
            e.member_in = #{memberIn}
            AND EXTRACT(MONTH FROM e.expense_date) = #{month}
            AND EXTRACT(YEAR FROM e.expense_date) = #{year}
            AND e.expense_type = 1
        GROUP BY c.cs_name
        ORDER BY amount DESC;
    </select>
    
    <select id="thisMonthCount" resultType="int">
    	select count(expense_type)
		from expense
		where member_in = #{memberIn}
		AND EXTRACT(MONTH FROM expense_date) = #{month}
		AND EXTRACT(YEAR FROM expense_date) = #{year}
		AND expense_type = 1;
    </select>
    

</mapper>