<?xml version="1.0" encoding="UTF-8"?>

<!-- https://mybatis.org/mybatis-3/getting-started.html
src/main/resources/mapper폴더/MemberMapper.xml파일 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yageum.mapper.MypageMapper">

	<delete id = "deleteAccountById" parameterType="int">
		delete from bank_account
		where account_in = #{accountIn}
	</delete>
	
	<delete id = "deleteCardById" parameterType="int">
		delete from card
		where card_in = #{cardIn}
	</delete>

	<insert id = "minsertPro" parameterType="com.yageum.entity.Card" useGeneratedKeys="true" keyProperty="cardIn">
		insert into card
		 (card_num, card_month, card_year, card_name, card_username, cc_in, method_in, member_in)
		value 
		 (#{cardNum}, #{cardMonth}, #{cardYear}, #{cardName}, #{cardUsername},
		 #{ccIn}, #{methodIn}, #{memberIn})
	</insert>
	
	<insert id="insertBankAccount" parameterType="com.yageum.entity.BankAccount">
	    insert into bank_account (
	        member_in, bank_in, account_num, finnum, account_name, create_date, account_alias
	    )
	    values (
	        #{memberIn}, #{bankIn}, #{accountNum}, #{finnum}, #{accountName}, NOW(), #{accountAlias}
	    )
	</insert>
	
	<update id="updateAccountName">
	  update bank_account set account_name = #{newName} where account_in = #{id}
	</update>
	
	<update id="updateCardName">
	  update card set card_name = #{newName} where card_in = #{id}
	</update>

	

</mapper>