<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yageum.mapper.SavingsPlanMapper">

    <select id="findLatestSavingsPlanByMemberIn" resultType="map">
        SELECT
            save_name,
            save_amount,
            save_created_date,
            save_target_date
        FROM savings_plan
        WHERE member_in = #{memberIn}
        ORDER BY save_created_date DESC
        LIMIT 1
    </select>

    <select id="calculateTotalCurrentSavings" resultType="java.lang.Integer">
        SELECT
            COALESCE(SUM(CASE WHEN expense_type = TRUE THEN expense_sum ELSE 0 END), 0) -
            COALESCE(SUM(CASE WHEN expense_type = FALSE THEN expense_sum ELSE 0 END), 0)
        FROM expense
        WHERE member_in = #{memberIn}
    </select>
    
    <select id="budgetLastMons" resultType="int">
	    SELECT save_amount 
	    FROM savings_plan 
	    WHERE save_created_date BETWEEN 
	        DATE_FORMAT(DATE_SUB(CURRENT_DATE, INTERVAL 1 MONTH), '%Y-%m-01') 
	        AND LAST_DAY(DATE_SUB(CURRENT_DATE, INTERVAL 1 MONTH))
	    AND member_in = #{memberIn}
	</select>
    

</mapper>