<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yageum.mapper.SavingsPlanMapper">

    <select id="findLatestSavingsPlanByMemberIn" resultType="map">
        SELECT
            save_name,
            save_amount,
            save_created_date,
            save_target_date
        FROM savings_plan
        WHERE member_in = #{memberIn}
        ORDER BY save_created_date DESC
        LIMIT 1
    </select>

    <select id="findSavingsPlanByMonthAndYear" resultType="map">
        SELECT
            save_name,
            save_amount,
            save_created_date,
            save_target_date
        FROM savings_plan
        WHERE member_in = #{memberIn}
        AND YEAR(save_created_date) = #{year}
        AND MONTH(save_created_date) = #{month}
        ORDER BY save_created_date DESC
        LIMIT 1
    </select>

    <select id="calculateBalanceUpToMonth" resultType="java.lang.Integer">
        SELECT
            COALESCE(SUM(CASE WHEN expense_type = TRUE THEN expense_sum ELSE 0 END), 0) -
            COALESCE(SUM(CASE WHEN expense_type = FALSE THEN expense_sum ELSE 0 END), 0)
        FROM expense
        WHERE member_in = #{memberIn}
        AND expense_date &lt;= LAST_DAY(STR_TO_DATE(CONCAT(#{year}, '-', LPAD(#{month}, 2, '0'), '-01'), '%Y-%m-%d'))
    </select>
    
    <select id="budgetLastMons" resultType="int">
	    SELECT save_amount 
	    FROM savings_plan 
	    WHERE save_created_date BETWEEN 
	        DATE_FORMAT(DATE_SUB(CURRENT_DATE, INTERVAL 1 MONTH), '%Y-%m-01') 
	        AND LAST_DAY(DATE_SUB(CURRENT_DATE, INTERVAL 1 MONTH))
	    AND member_in = #{memberIn}
        ORDER BY save_created_date DESC
        LIMIT 1
	</select>

    <select id="getBudgetForMonth" resultType="int">
        SELECT save_amount
        FROM savings_plan
        WHERE member_in = #{memberIn}
        AND YEAR(save_created_date) = #{year}
        AND MONTH(save_created_date) = #{month}
        ORDER BY save_created_date DESC
        LIMIT 1
    </select>
    
    <insert id="insertSavingsPlan">
        INSERT INTO savings_plan (
            member_in,
            save_name,
            save_created_date,
            save_target_date,
            save_amount
        ) VALUES (
            #{memberIn},
            #{saveName},
            #{saveCreatedDate},
            #{saveTargetDate},
            #{saveAmount}
        )
    </insert>
    
    <select id="hasSavingsPlanForMonth" resultType="boolean">
        SELECT COUNT(*) > 0 FROM savings_plan
        WHERE member_in = #{memberIn}
        AND save_created_date BETWEEN #{startOfMonth} AND #{endOfMonth}
    </select>

    <update id="updateSavingsPlan">
        UPDATE savings_plan
        SET
            save_name = #{saveName},
            save_target_date = #{saveTargetDate},
            save_amount = #{saveAmount}
        WHERE
            member_in = #{memberIn}
            AND save_created_date BETWEEN #{startOfMonth} AND #{endOfMonth}
    </update>
    
    <select id="planChack" resultType="Integer">
		SELECT EXISTS(
		    SELECT 1
		    FROM savings_plan
		    WHERE member_in = #{memberIn}
		    AND save_created_date BETWEEN DATE_FORMAT(CURDATE(), '%Y-%m-01') AND LAST_DAY(CURDATE())
		) AS is_exists;
    </select>
    
	<update id="processAiFeedback">
	    UPDATE savings_plan t1
	    JOIN (
	        SELECT save_in
	        FROM savings_plan
	        WHERE
	            member_in = #{memberIn}
	            AND YEAR(save_created_date) = YEAR(CURRENT_DATE())    AND MONTH(save_created_date) = MONTH(CURRENT_DATE())  ORDER BY save_created_date DESC, save_in DESC
	        LIMIT 1
	    ) t2 ON t1.save_in = t2.save_in
	    SET
	        t1.save_feedback = #{saveFeedback}
	</update>
	
	<update id="processAicFeedback">
	    UPDATE savings_plan t1
	    JOIN (
	        SELECT save_in
	        FROM savings_plan
	        WHERE
	            member_in = #{memberIn}
	            AND YEAR(save_created_date) = YEAR(CURRENT_DATE())    AND MONTH(save_created_date) = MONTH(CURRENT_DATE())  ORDER BY save_created_date DESC, save_in DESC
	        LIMIT 1
	    ) t2 ON t1.save_in = t2.save_in
	    SET
	        t1.bud_feedback = #{budFeedback}
	</update>
	
	<select id="getAllFeedback" resultType="map">
		select
		        save_feedback AS categoryGptFeedback,
        		bud_feedback AS monthlyGptFeedback
		from savings_plan
		where member_in = #{memberIn}
		AND EXTRACT(MONTH FROM save_created_date) = #{month}
		AND EXTRACT(YEAR FROM save_created_date) = #{year}
	</select>
	
	<select id="countAiFeedbackByMemberInAndMonth" resultType="int">
        SELECT COUNT(*)
        FROM savings_plan
        WHERE member_in = #{memberIn}
          AND save_feedback IS NOT NULL
          AND YEAR(save_created_date) = #{year}
          AND MONTH(save_created_date) = #{month}
    </select>
    
    <select id="countBudFeedbackByMemberInAndMonth" resultType="int">
        SELECT COUNT(*)
        FROM savings_plan
        WHERE member_in = #{memberIn}
          AND bud_feedback IS NOT NULL
          AND bud_feedback != ''
          AND YEAR(save_created_date) = #{year}
          AND MONTH(save_created_date) = #{month}
    </select>

    </mapper>