<div th:fragment="header">
	<header class="header">
		<div class="header-container">
			<div class="header-top">
				<a href="/" class="logo"><img style="width:125px; height:125px;" src="../img/a.png"></a>

				<div class="user-info">

					<span class="welcome-msg" sec:authorize="isAuthenticated()">
						<span th:text="${#authentication.name} + '님 안녕하세요'"></span>
						<button class="btn-logout" onclick="logout()">로그아웃</button>
					</span>
				</div>
			</div>
			<nav>
				<ul class="nav-menu">
					<li><a href="/cashbook/main">가계부</a></li>
					<li><a href="/consumption/efeedback">소비 분석</a></li>
				</ul>
			</nav>
		</div>
	</header>
</div>