<div th:fragment="header">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script th:src="@{/js/logo.js}"></script>
	<header class="header">


		<div class="header-container">
			<div class="header-top">
				<a href="javascript:void(0);" class="logo" onclick="sendLogoClick()">
					<img style="width:125px; height:125px;" src="../img/a.png">
				</a>

				<div class="user-info">

					<span class="welcome-msg" sec:authorize="isAuthenticated()">

						<a href="/mypage/update"><span th:text="${session.memberName}"></span></a>
						<span>님 안녕하세요!</span>

						<button class="btn-logout" onclick="logout()">로그아웃</button>
					</span>
				</div>
			</div>
			<nav>
				<ul class="nav-menu">
					<li><a href="/cashbook/main">가계부</a></li>
					<li><a href="/consumption/efeedback">소비 분석</a></li>
					<li><a href="/quest/list">퀘스트 / 아이템</a></li>
				</ul>
			</nav>
		</div>
	</header>
</div>