
<div th:fragment="sidebar">
	<div class="sidebar">
	           <h2>관리자 페이지</h2>
	           
	           <div class="menu-item">
	               <a href="/admin/user" class="menu-link">사용자 관리</a>
	           </div>
	           
	           <div class="menu-item">
	               <a href="/admin/state" class="menu-link">통계 / 리포트</a>
	           </div>
	           
	           <div class="menu-item">
	               <a href="#" class="menu-link active" onclick="toggleSubmenu(event)">사이트 설정</a>
	               <div class="submenu show" id="siteSettingsSubmenu">
	                   <div class="submenu-item">
	                       <a href="/admin/quest" class="submenu-link">퀘스트 관리</a>
	                   </div>
	                   <div class="submenu-item">
	                       <a href="/admin/item" class="submenu-link">구매항목 관리</a>
	                   </div>
	                   <div class="submenu-item">
	                       <a href="/admin/category" class="submenu-link">카테고리 관리</a>
	                   </div>
	                   <div class="submenu-item">
	                       <a href="/admin/noticfication" class="submenu-link">공지사항 관리</a>
	                   </div>
	               </div>
	        </div>
	  </div>
</div>	   
<script>
	
	
	
	
	
</script>