<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <title>종합 분석 피드백 리스트</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/consumption_list.css">
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="app-container">
    <div th:replace="fragments/sidebar :: sidebar"></div>
    <div class="main-wrapper">
        <div class="container">
            <div class="header_list">
                <h1>소비 분석 피드백 히스토리</h1>
                <p>저장된 개인 소비 패턴 분석 피드백을 확인하세요.</p>
            </div>

            <div class="feedback-list-section" id="feedbackListContainer">
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

<script th:inline="javascript">
    const feedbackData = /*[[${feedbackList}]]*/ []; // feedbackList가 null일 경우 빈 배열로 초기화
</script>
<script src="../js/consumption_list.js"></script>

</body>
</html>