<!DOCTYPE html>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="UTF-8">
	<title>야금야금 - 오픈뱅킹 가계부</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Google Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Nanum+Brush+Script&family=Black+Han+Sans&display=swap"
		rel="stylesheet">

	<link rel="stylesheet" href="../css/common.css">
	<link rel="stylesheet" href="../css/cashbook_quest.css">

</head>

<body>
	<div th:replace="fragments/header :: header"></div>
	<div class="container">
	

		<!-- 메인 콘텐츠 -->
		<div class="main-content">
		    <div class="main_header">
		        <h1 class="quest-header">퀘스트 목록</h1>
		    </div>

		    <div class="table-container">
		        <table class="quest-table">
		            <thead class="quest-subheader">
		                <tr>
		                    <th>퀘스트 번호</th>
		                    <th>퀘스트 내용</th>
		                    <th>유형</th>
		                    <th>목표</th>
		                    <th>보상</th>
		                    <th>기간</th>
		                    <th>수행하기</th>
		                </tr>
		            </thead>
		            <tbody id="questTableBody">
		                <tr class="quest-item" th:each="quest : ${questList}">
		                    <td th:text="${quest['quest_in']}"></td>
		                    <td class="quest-name" th:text="${quest['quest_name']}"></td>
		                    <td th:text="${quest['quest_type_name']}"></td>
		                    <td th:text="${quest['goal_value']}">원</td>
		                    <td class="quest-reward" th:text="${quest['reward_value']}">포인트</td>
		                    <td class="quest-period"
		                        th:text="${quest['start_date']} + ' ~ ' + ${quest['end_date']}">기간</td>
		                    <td class="quest-status">
		                        <button class="action-btn edit"
		                            th:onclick="'editQuest(' + '\'' + ${quest['quest_in']} + '\'' + ')'">변경</button>
		                    </td>
		                </tr>
		            </tbody>
		        </table>
		    </div>

		    <div class="pagination progress-indicator">
		        <span class="progress-dot active"></span>
		        <a href="#" class="progress-dot"></a>
		        <a href="#" class="progress-dot"></a>
		        <a href="#" class="progress-dot"></a>
		        <a href="#" class="progress-dot"></a>
		        <a href="#" class="progress-dot"></a>
		        <span class="progress-dot"></span>
		    </div>
		</div>

	<div th:replace="fragments/footer :: footer"></div>

	<script>

		// 퀘스트 변경 기능
		function editQuest(id) {
			window.open("/admin/quest_update?questIn=" + encodeURIComponent(id), "popup", "width=670,height=740");
		}


		// 로그아웃 기능
		function logout() {
			if (confirm('로그아웃 하시겠습니까?')) {
				window.location.href = '/logout';
			}
		}
	</script>
</body>

</html>