<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="UTF-8">
	<title>야금야금 | 로그인</title>


	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Google Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Nanum+Brush+Script&family=Black+Han+Sans&display=swap"
		rel="stylesheet">
	<link rel="stylesheet" href="../css/login.css">
</head>


<body>


	<div class="login-container">
		<div class="error" th:if="${param.expired}">
			<p style="color:red;">로그아웃되었습니다. 다시 로그인 해주세요.</p>
		</div>

		<div class="error" th:if="${param.duplicate}">
			<p style="color:red;">다른 위치에서 로그인되어 로그아웃되었습니다.</p>
		</div>
		<div class="title"><img style="width:210px; height:210px;" src="../img/a.png"></div>

		<form th:action="@{/member/loginPro}" method="post">
			<div class="input-group">
				<input type="text" name="memberId" th:value="${userID}" class="input-field" placeholder="ID" required>
			</div>

			<div class="input-group">
				<input type="password" name="memberPasswd" class="input-field" placeholder="PW" required>
			</div>
			<div class="button-group-single">
				<a th:href="${naverUrl}">
					<button type="button" class="btn-naver">NAVER</button></a>
			</div>


			<div class="checkbox-group">
				<input type="checkbox" id="keepLogin" name="keepLogin">
				<label for="keepLogin">아이디 저장</label>
			</div>
			<input type="hidden" th:name="${_csrf?.parameterName}" th:value="${_csrf?.token}">

			<button type="submit" class="btn-login">로그인</button>
		</form>

		<div class="signup-link">
			<a th:href="@{/member/terms}">아직 야금야금 회원이 아니신가요?<br></a>
		</div>
	</div>
</body>

</html>

</body>

</html>