<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="../img/gold.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/user_detail.css">
	<title>사용자 상세보기</title>
    <style>
      
    </style>
</head>
<body>
	<div class="user-detail-container">
	       <div class="form-header">
	           <h2>사용자 상세보기</h2>
	       </div>
	       
	       <!-- 기본 정보만 폼태그로 묶음 -->
	       <form id="userDetailForm" action="/admin/authority" method="POST">
			<input type="hidden" th:name="${_csrf?.parameterName}" th:value="${_csrf?.token}">
	           <div class="form-content">
	               <!-- 기본 정보 섹션 (폼 처리) -->
	               <div class="info-section">
	                   <div class="section-title">기본 정보</div>
	                   <table class="form-table">
	                       <tr>
	                           <td>사용자 권한<span class="required">*</span></td>
	                           <td>
									<select name="memberRole" class="form-select" required>
										<option value="USER" th:selected="${member.memberRole == 'USER'}">USER</option>
	                                   	<option value="ADMIN" th:selected="${member.memberRole == 'ADMIN'}">ADMIN</option>
	                               </select>
	                           </td>
	                       </tr>
						  
	                       <tr>
	                           <td>회원 ID</td>
	                           <td>
										<!--네이버 로그인인 경우 히든으로 id 값 넘길 수 있게 해줌-->
	                               <input type="input" th:if="${#strings.length(member.memberId) >= 43}" class="form-input readonly"  th:value="${member.memberPasswd}">
						   		   <input type="hidden"th:if="${#strings.length(member.memberId) >= 43}" name="memberId"  th:value="${member.memberId}">
								   
								   		<!--일반 가입자 인경우-->
	                               <input type="text" th:if="${#strings.length(member.memberId) < 43}" name="memberId" class="form-input readonly"  th:value="${member.memberId}" readonly>
	                           </td>
	                       </tr>
						  
						  
	                       <tr>
	                           <td>회원 이름</td>
	                           <td>
	                               <input type="text" name="memberName" class="form-input readonly" th:value="${member.memberName}" readonly>
	                           </td>
	                       </tr>
	                       <tr>
	                           <td>성별</td>
	                           <td>
	                           		<input type="text" name="memberGender" class="form-input readonly" th:if="${member.memberGender == 'M'}" value="남자" readonly>
	                           		<input type="text" name="memberGender" class="form-input readonly" th:if="${member.memberGender == 'F'}"value="여자" readonly>
	                           </td>
	                       </tr>
	                       <tr>
	                           <td>주소</td>
	                           <td>
	                               <input type="text" name="memberAddress" class="form-input readonly" th:value="${member.memberAddress}" readonly>
	                           </td>
	                       </tr>
	                       <tr>
	                           <td>이메일</td>
	                           <td>
	                               <input type="text" name="memberEmail" class="form-input readonly" th:value="${member.memberEmail}" readonly>
	                           </td>
	                       </tr>
	                       <tr>
	                           <td>전화번호</td>
	                           <td>
	                               <input type="text" name="memberPhone" class="form-input readonly" th:value="${member.memberPhone}" readonly>
	                           </td>
	                       </tr>
	                   </table>
	               </div>
	           </div>
			   </table>
		   </form>

	       <div class="form-content">
	           <div class="info-section">
	               <div class="section-title">계정 정보</div>
	               <table class="form-table">
	                   <tr>
	                       <td>가입날짜</td>
	                       <td>
                               <input type="text" class="form-input readonly" th:value="${member.createDate}" readonly>

	                       </td>
	                   </tr>
	                   <tr>
	                       <td>마지막 로그인</td>
	                       <td>
								<input type="text" class="form-input readonly" th:value="${member.lastLoginDate}" readonly>
	                       </td>
	                   </tr>
	                   <tr>
	                       <td>회원 상태</td>
	                       <td>
	                           <span class="status-active" th:text="${member.memberState}"></span>
	                       </td>
	                   </tr>
	                   <tr>
	                       <td>포인트</td>
	                       <td>
	                           	<input type="text" class="form-input readonly" th:if="${member.memberReward ne null}" th:value="${member.memberReward} + 'P'" readonly>
	                           	<input type="text" class="form-input readonly" th:if="${member.memberReward eq null}" th:value="'0P'" readonly>
	                       </td>
	                   </tr>
	               </table>
	           </div>

	           <div class="info-section">
	               <div class="section-title">연결 정보</div>
	               <table class="form-table">
	                   <tr>
	                       <td>연결된 계좌 수</td>
	                       <td>
	                           <input type="text" class="form-input readonly" th:value="${bank.size()}" readonly>
	                       </td>
	                   </tr>
	                   <tr>
	                       <td>연결된 카드 수</td>
	                       <td>
	                           <input type="text" class="form-input readonly" th:value="${card.size()}" readonly>
	                       </td>
	                   </tr>
	                   <tr>
	                       <td>수락한 퀘스트 수</td>
	                       <td>
	                           <input type="text" class="form-input readonly" th:value="${quest.size()}" readonly>
	                       </td>
	                   </tr>
	                   <tr>
	                       <td>달성한 퀘스트 수</td>
	                       <td>
	                           <input type="text" class="form-input readonly" th:value="${questSuccess.size()}" readonly>
	                       </td>
	                   </tr>
	               </table>
	           </div>

	           <div class="info-section">
	               <div class="section-title">동의 정보</div>
	               <table class="form-table">
	                   <tr>
	                       <td>개인정보 동의</td>
	                       <td>
	                           <span class="consent-yes" th:if="${member.memberConsent == true}" >동의</span>
	                           <span class="consent-no" th:if="${member.memberConsent} == false" >비동의</span>
	                       </td>
	                   </tr>
	                   <tr>
	                       <td>이메일 동의</td>
	                       <td>
								<span class="consent-yes" th:if="${member.emailConsent == true}" >동의</span>
                          		<span class="consent-no" th:if="${member.emailConsent} == false" >비동의</span>
	                       </td>
	                   </tr>
	               </table>
	           </div>
	       </div>
	       
	       <div class="form-actions">
	           <button type="button" class="btn btn-primary" id="btn">변경하기</button>
	           <button type="button" class="btn btn-secondary" onclick="closeDetail()">닫기</button>
	       </div>
	   </div>
	   <script src="../js/jquery-3.6.0.js"></script>
	   <script>
	     
		  			// 폼 제출 처리
	   			$('#btn').click(function(){
					
					if (confirm('사용자 권한을 변경하시겠습니까?')) {
			               console.log('사용자 정보 변경 데이터를 서버로 전송합니다...');
						   const formData = $('#userDetailForm').serialize(); 	// 폼 데이터 직렬화
							
						   $.post('/admin/authority', formData, function(response){		
								window.opener.location.reload();
								window.close();
							
						   }).fail(function(){
								alert('전송 오류가 발생 했습니다');
						   });//ajax				   
					 }
	   			});
		   			
		   
		   
		   
		   
		   
		   
		   
		   
		   
	       // 닫기 처리
	       function closeDetail() {
	           if (confirm('사용자 상세보기를 닫으시겠습니까?')) {
	               window.close();
	           }
	       }
	   </script>
</body>
</html>